<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <% search_word = @q %>
      <% if @post.present? || @customer.present? %>
      <table class ="table">
        <h5><strong>検索結果 "<%= search_word %>"</strong></h5>
        <% if @post.present? %>
          <% @post.each do |post| %>
          <tr align="center">
            <td><%= image_tag post.get_image(50, 50), class:"rounded-circle"; %></td>
            <td><%= post.post_name %></td>
            <td class="small text-black-50"><i class="fas fa-user"></i> <%= post.customer.name %></td>
            <td class="small text-black-50"><i class="fas fa-heart"></i> <%= post.favorites.count %></td>
            <td><%= link_to "詳細を見る", admin_post_path(post), class:"btn btn-outline-secondary" %></td>
          </tr>
          <% end %>
        <% end %>
        <% if @customer.present? %>
          <% @customer.each do |customer| %>  
          <tr align="center">
            <td><%= image_tag customer.get_profile_image(50, 50), class:"rounded-circle"; %></td>
            <td><%= link_to customer.name, admin_customer_path(customer), class: "text-black-50" %></td>
            <td>
              
                <h6><strong><%= customer.followers.count %></strong> フォロー</h6>
              
            </td>
            <td>
              
                <h6><strong><%= customer.followeds.count %></strong> フォロワー</h6>
              
            </td>
            
          <% end %>
          </tr>
        <% end %>
      <% else %>
        <h5><strong>検索結果がありません</strong></h5>
      <% end %>
      </table>
    </div>
  </div>
</div>