<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="navbar navbar-brand">
      <% if admin_signed_in? %>
        <%= link_to admin_posts_path do %>
          <%= image_tag 'Nutrin.png', size: '90x45' %>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag 'Nutrin.png', size: '90x45' %>
        <% end %>
      <% end %>
    </div>
    <% if customer_signed_in? %>
    <!-- 検索機能 -->
    <div class="row">
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :q, required: true, class: "form-control d-inline-block w-auto", type: "search", placeholder: "検索", aria_label: "検索" %>
        <button class="btn btn-outline-success" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      <% end %>
    </div>
    <% end %>
    <% if admin_signed_in? %>
    <!-- 検索機能 -->
    <div class="row">
      <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
        <%= f.text_field :q, required: true, class: "form-control d-inline-block w-auto", type: "search", placeholder: "検索", aria_label: "検索" %>
        <button class="btn btn-outline-success" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      <% end %>
    </div>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <!--管理者のログイン時-->
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to admin_posts_path, class: "nav-link mt-3 small" do %>
            <i class="fas fa-coffee"></i>
              投稿一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_customers_path, class: "nav-link mt-3 small" do %>
            <i class="fas fa-user-friends"></i>
              ユーザ一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link mt-3 small" do %>
            <i class="fas fa-sign-out-alt"></i>
              ログアウト
            <% end %>
          </li>
        <!--ユーザーのログイン時-->
        <% elsif customer_signed_in? %>
          <li class="nav-item">
            <%= link_to posts_path, class: "nav-link mt-3 small" do %>
            <i class="fa-solid fa-house-chimney"></i>
              タイムライン
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to notifications_path, class: "nav-link mt-3 small" do %>
            <% if current_customer && current_customer.notifications.where(checked: false).exists? %>
            <i class="fa-sharp fa-solid fa-bell fa-beat" style="color: #f2ee7d;"></i>
            <% else %>
            <i class="fa-sharp fa-solid fa-bell"></i>
            <% end %>
              通知
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_post_path, class: "nav-link mt-3 small" do %>
            <i class="fas fa-pencil"></i>
              投稿する
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to customer_path(current_customer), class: "nav-link mt-3 small" do %>
            <i class="fas fa-user-cog"></i>
              マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link mt-3 small" do %>
            <i class="fas fa-sign-out-alt"></i>
              ログアウト
            <% end %>
          </li>
        <!--ログイン前画面-->
        <% else %>
          <li class="nav-item">
            <%= link_to new_customer_registration_path, class: "nav-link mt-3 small" do %>
            <i class="fas fa-user-edit"></i>
              新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_session_path, class: "nav-link mt-3 small" do %>
            <i class="fas fa-sign-in-alt"></i>
              ログイン
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to customers_guest_sign_in_path, class: "nav-link mt-3 small", method: :post  do %>
            <i class="fa-solid fa-users"></i>
              ゲストログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> 
  </div>  
</nav>